main{
  	text-align: center;
	margin: auto;
	margin-top: 5%;
}

main h1{
	font-size: 3em;
	margin: 0;
	margin-bottom: 0.1em;
}

#chatbox{
	overflow: auto;
	height: 200px;
	width: 14em;
  	text-align: left;
  	margin: auto;
  	margin-bottom: 0.1em;
	font-size: 1.5em;
}

.bot{
	color: #0863bb;
}

.user{
	color: #000000;
}